Atomia/Web/Plugins/PublicOrder/Configurations/PublicOrderConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Atomia.Web.Plugin.PublicOrder.Configurations" elementFormDefault="qualified" targetNamespace="Atomia.Web.Plugin.PublicOrder.Configurations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="publicOrderConfigurationSection" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.PublicOrderConfigurationSectionCT" />
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.PublicOrderConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="defaultCountry" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.DefaultCountryCT">
				<xs:annotation>
					<xs:documentation>The DefaultCountry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="onlinePayment" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.OnlinePaymentCT">
				<xs:annotation>
					<xs:documentation>The OnlinePayment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="invoiceByEmail" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByEmailCT">
				<xs:annotation>
					<xs:documentation>The InvoiceByEmail.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="invoiceByPost" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByPostCT">
				<xs:annotation>
					<xs:documentation>The InvoiceByPost.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="queryStringList" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringListCT">
				<xs:annotation>
					<xs:documentation>The QueryStringList.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="countriesList" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.CountriesListCT">
				<xs:annotation>
					<xs:documentation>The CountriesList.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="payPal" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.PayPalCT">
				<xs:annotation>
					<xs:documentation>The PayPal.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringListCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="queryString" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringCT">
				<xs:annotation>
					<xs:documentation>The QueryString Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="passToView" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The PassToView.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.DefaultCountryCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.OnlinePaymentCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByEmailCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByPostCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.CountriesListCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="countryItem" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.CountryItemCT">
				<xs:annotation>
					<xs:documentation>The CountryItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.CountryItemCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="image" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Image.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="currency" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Currency.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.PayPalCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
