Atomia/Web/Plugins/PublicOrder/Configurations/PublicOrderConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Atomia.Web.Plugin.PublicOrder.Configurations" elementFormDefault="qualified" targetNamespace="Atomia.Web.Plugin.PublicOrder.Configurations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="publicOrderConfigurationSection" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.PublicOrderConfigurationSectionCT" />
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.PublicOrderConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="defaultCountry" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.DefaultCountryCT">
				<xs:annotation>
					<xs:documentation>The DefaultCountry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="onlinePayment" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.OnlinePaymentCT">
				<xs:annotation>
					<xs:documentation>The OnlinePayment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="invoiceByEmail" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByEmailCT">
				<xs:annotation>
					<xs:documentation>The InvoiceByEmail.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="invoiceByPost" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByPostCT">
				<xs:annotation>
					<xs:documentation>The InvoiceByPost.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="queryStringList" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringListCT">
				<xs:annotation>
					<xs:documentation>The QueryStringList.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="countriesList" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.CountriesListCT">
				<xs:annotation>
					<xs:documentation>The CountriesList.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="payPal" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.PayPalCT">
				<xs:annotation>
					<xs:documentation>The PayPal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="payexRedirect" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.PayexRedirectCT">
				<xs:annotation>
					<xs:documentation>The PayexRedirect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="worldPay" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.WorldPayCT">
				<xs:annotation>
					<xs:documentation>The WorldPay.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dibsFlexwin" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.DibsFlexwinCT">
				<xs:annotation>
					<xs:documentation>The DibsFlexwin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="productGroups" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.ProductGroupsCT">
				<xs:annotation>
					<xs:documentation>The ProductGroups.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="worldPayXml" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.WorldPayXmlCT">
				<xs:annotation>
					<xs:documentation>The WorldPayXml.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="adyenHpp" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.AdyenHppCT">
				<xs:annotation>
					<xs:documentation>The AdyenHpp.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="domainRegistrySpecificProducts" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.DomainRegistrySpecificProductsCT">
				<xs:annotation>
					<xs:documentation>The DomainRegistrySpecificProducts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringListCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="queryString" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringCT">
				<xs:annotation>
					<xs:documentation>The QueryString Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.QueryStringCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="passToView" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The PassToView.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.DefaultCountryCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.OnlinePaymentCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByEmailCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.InvoiceByPostCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.CountriesListCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="countryItem" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.CountryItemCT">
				<xs:annotation>
					<xs:documentation>The CountryItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.CountryItemCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="image" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Image.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="currency" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Currency.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.PayPalCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.PayexRedirectCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.WorldPayCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.DibsFlexwinCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.ProductGroupsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="productGroup" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.ProductGroupCT">
				<xs:annotation>
					<xs:documentation>The ProductGroup Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.ProductGroupCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="groupName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GroupName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="orderPageOptions" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The OrderPageOptions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.WorldPayXmlCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.AdyenHppCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.DomainRegistrySpecificProductsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="domainRegistrySpecificProduct" type="tns:Atomia.Web.Plugin.PublicOrder.Configurations.DomainRegistrySpecificProductCT">
				<xs:annotation>
					<xs:documentation>The DomainRegistrySpecificProduct Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Atomia.Web.Plugin.PublicOrder.Configurations.DomainRegistrySpecificProductCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="productId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ProductId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="email" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Email.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cccEmail" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CccEmail.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
